<h1 id="titre">Page d'intro de notre site avec backend !</h1>
<div id="center">
<p>Bienvenue sur notre site avec backend les potos</p>
<p>By Nicolas Culerier and Nicolas Zhao</p>

<a href=<%= new_user_path %>>Sign up</a>
</div>
