<h1>About</h1>
<p>T'as pas besoin de savoir ma vie</p>
<p>Bon puisque c'est toi</p>

<a href=<%= me_path %>>Moi</a>
<a href=<%= team_path %>>La team</a>
<br>
<p>Allez clique sur les liens, n'ai pas peur...</p>
<br>
<img src="https://images.maskworld.com/is/image/maskworld/bigview/original-batman-joker-classic-mask--mw-107200-1.jpg">
