<h1>Contact</h1>
<p>T'as cru que j'allais te filer mon 06 mdr. Allez dégage !</p>
<br>
<img src="https://www.maxim.com/.image/c_limit%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_700/MTU3MzgzMDI0Njg0NTczODIz/terminator-2-main.jpg">
