<html>
<h1>Mon premier site Rails motherfuckers</h1>

<p>Bienvenue sur mon site ma poule ! Tu vas apprendre à me connaître mwahaha</p>
<br>
<a href=<%= apropo_path %>>A propos</a>
<br>
<a href=<%= contact_path %>>Me contacter</a>
<br>
<img src="http://www.manchestersfinest.com/wp-content/uploads/2012/06/The-shining.jpg">
</html>
