<html>
<h1>Moi</h1>

<p>Je m'appelle Nicolas. Voilà ! Multimilliardaire mafieux bodybuildé, je pourrais déjà prendre ma retraite si je le voulais.</p>
<br>
<p>Ma photo :</p>
<img src="https://cdn.muscleandstrength.com/sites/default/files/images/articles/arnold-schwarzenegger-5.jpg">
<br>
<p>Garanti sans stéroïdes</p>
</html>
