<html>
<h1>Mon groupe</h1>

<p>Il y a François, Jérémy, Nico, Hadia et Valérie et moi.</p>
<br>
<p>Winter is coming bitches</p>
<br>
<img src="https://imagesvc.timeincapp.com/v3/fan/image?url=https%3A%2F%2Fwinteriscoming.net%2Ffiles%2F2016%2F10%2Fstark-family-season-one-game-of-thrones.jpg&c=sc&w=850&h=560">
</html>
